import {Component} from "@angular";

@Component({
    selector: "<%- data.name.kebabCase %>",
    template: "<div>Hello makesuff!!</div>"
})
export default class <%- data.name.pascalCase %>Component {
    // <%- custom.testVar %>
    constructor() {
    }

    ngOnInit() {

    }

    ngOnDestroy() {

    }
}
